#abacas {
border-top: 1px solid lighten(#ABACA5, 10%);
border-bottom: 1px solid darken(#ABACA5, 10%);
background: #ABACA5;
h3 {
color: #ABACA5;
}
.hex-spacer {
border-right: 1px solid #ABACA5;
}
}
#abases {
border-top: 1px solid lighten(#ABA5ED, 10%);
border-bottom: 1px solid darken(#ABA5ED, 10%);
background: #ABA5ED;
h3 {
color: #ABA5ED;
}
.hex-spacer {
border-right: 1px solid #ABA5ED;
}
}
#abbess {
border-top: 1px solid lighten(#ABBE55, 10%);
border-bottom: 1px solid darken(#ABBE55, 10%);
background: #ABBE55;
h3 {
color: #ABBE55;
}
.hex-spacer {
border-right: 1px solid #ABBE55;
}
}
#abeles {
border-top: 1px solid lighten(#ABE1E5, 10%);
border-bottom: 1px solid darken(#ABE1E5, 10%);
background: #ABE1E5;
h3 {
color: #ABE1E5;
}
.hex-spacer {
border-right: 1px solid #ABE1E5;
}
}
#aboded {
border-top: 1px solid lighten(#AB0DED, 10%);
border-bottom: 1px solid darken(#AB0DED, 10%);
background: #AB0DED;
h3 {
color: #AB0DED;
}
.hex-spacer {
border-right: 1px solid #AB0DED;
}
}
#abodes {
border-top: 1px solid lighten(#AB0DE5, 10%);
border-bottom: 1px solid darken(#AB0DE5, 10%);
background: #AB0DE5;
h3 {
color: #AB0DE5;
}
.hex-spacer {
border-right: 1px solid #AB0DE5;
}
}
#abolla {
border-top: 1px solid lighten(#AB011A, 10%);
border-bottom: 1px solid darken(#AB011A, 10%);
background: #AB011A;
h3 {
color: #AB011A;
}
.hex-spacer {
border-right: 1px solid #AB011A;
}
}
#accede {
border-top: 1px solid lighten(#ACCEDE, 10%);
border-bottom: 1px solid darken(#ACCEDE, 10%);
background: #ACCEDE;
h3 {
color: #ACCEDE;
}
.hex-spacer {
border-right: 1px solid #ACCEDE;
}
}
#access {
border-top: 1px solid lighten(#ACCE55, 10%);
border-bottom: 1px solid darken(#ACCE55, 10%);
background: #ACCE55;
h3 {
color: #ACCE55;
}
.hex-spacer {
border-right: 1px solid #ACCE55;
}
}
#adages {
border-top: 1px solid lighten(#ADA6E5, 10%);
border-bottom: 1px solid darken(#ADA6E5, 10%);
background: #ADA6E5;
h3 {
color: #ADA6E5;
}
.hex-spacer {
border-right: 1px solid #ADA6E5;
}
}
#addles {
border-top: 1px solid lighten(#ADD1E5, 10%);
border-bottom: 1px solid darken(#ADD1E5, 10%);
background: #ADD1E5;
h3 {
color: #ADD1E5;
}
.hex-spacer {
border-right: 1px solid #ADD1E5;
}
}
#adobes {
border-top: 1px solid lighten(#AD0BE5, 10%);
border-bottom: 1px solid darken(#AD0BE5, 10%);
background: #AD0BE5;
h3 {
color: #AD0BE5;
}
.hex-spacer {
border-right: 1px solid #AD0BE5;
}
}
#adobos {
border-top: 1px solid lighten(#AD0B05, 10%);
border-bottom: 1px solid darken(#AD0B05, 10%);
background: #AD0B05;
h3 {
color: #AD0B05;
}
.hex-spacer {
border-right: 1px solid #AD0B05;
}
}
#aggada {
border-top: 1px solid lighten(#A66ADA, 10%);
border-bottom: 1px solid darken(#A66ADA, 10%);
background: #A66ADA;
h3 {
color: #A66ADA;
}
.hex-spacer {
border-right: 1px solid #A66ADA;
}
}
#albedo {
border-top: 1px solid lighten(#A1BED0, 10%);
border-bottom: 1px solid darken(#A1BED0, 10%);
background: #A1BED0;
h3 {
color: #A1BED0;
}
.hex-spacer {
border-right: 1px solid #A1BED0;
}
}
#alcade {
border-top: 1px solid lighten(#A1CADE, 10%);
border-bottom: 1px solid darken(#A1CADE, 10%);
background: #A1CADE;
h3 {
color: #A1CADE;
}
.hex-spacer {
border-right: 1px solid #A1CADE;
}
}
#aldols {
border-top: 1px solid lighten(#A1D015, 10%);
border-bottom: 1px solid darken(#A1D015, 10%);
background: #A1D015;
h3 {
color: #A1D015;
}
.hex-spacer {
border-right: 1px solid #A1D015;
}
}
#aldose {
border-top: 1px solid lighten(#A1D05E, 10%);
border-bottom: 1px solid darken(#A1D05E, 10%);
background: #A1D05E;
h3 {
color: #A1D05E;
}
.hex-spacer {
border-right: 1px solid #A1D05E;
}
}
#alles {
border-top: 1px solid lighten(#A11EE5, 10%);
border-bottom: 1px solid darken(#A11EE5, 10%);
background: #A11EE5;
h3 {
color: #A11EE5;
}
.hex-spacer {
border-right: 1px solid #A11EE5;
}
}
#allege {
border-top: 1px solid lighten(#A11E6E, 10%);
border-bottom: 1px solid darken(#A11E6E, 10%);
background: #A11E6E;
h3 {
color: #A11E6E;
}
.hex-spacer {
border-right: 1px solid #A11E6E;
}
}
#allele {
border-top: 1px solid lighten(#A11E1E, 10%);
border-bottom: 1px solid darken(#A11E1E, 10%);
background: #A11E1E;
h3 {
color: #A11E1E;
}
.hex-spacer {
border-right: 1px solid #A11E1E;
}
}
#allods {
border-top: 1px solid lighten(#A110D5, 10%);
border-bottom: 1px solid darken(#A110D5, 10%);
background: #A110D5;
h3 {
color: #A110D5;
}
.hex-spacer {
border-right: 1px solid #A110D5;
}
}
#assess {
border-top: 1px solid lighten(#A55E55, 10%);
border-bottom: 1px solid darken(#A55E55, 10%);
background: #A55E55;
h3 {
color: #A55E55;
}
.hex-spacer {
border-right: 1px solid #A55E55;
}
}
#baases {
border-top: 1px solid lighten(#BAA5E5, 10%);
border-bottom: 1px solid darken(#BAA5E5, 10%);
background: #BAA5E5;
h3 {
color: #BAA5E5;
}
.hex-spacer {
border-right: 1px solid #BAA5E5;
}
}
#babble {
border-top: 1px solid lighten(#BABB1E, 10%);
border-bottom: 1px solid darken(#BABB1E, 10%);
background: #BABB1E;
h3 {
color: #BABB1E;
}
.hex-spacer {
border-right: 1px solid #BABB1E;
}
}
#babels {
border-top: 1px solid lighten(#BABE15, 10%);
border-bottom: 1px solid darken(#BABE15, 10%);
background: #BABE15;
h3 {
color: #BABE15;
}
.hex-spacer {
border-right: 1px solid #BABE15;
}
}
#babool {
border-top: 1px solid lighten(#BAB001, 10%);
border-bottom: 1px solid darken(#BAB001, 10%);
background: #BAB001;
h3 {
color: #BAB001;
}
.hex-spacer {
border-right: 1px solid #BAB001;
}
}
#badass {
border-top: 1px solid lighten(#BADA55, 10%);
border-bottom: 1px solid darken(#BADA55, 10%);
background: #BADA55;
h3 {
color: #BADA55;
}
.hex-spacer {
border-right: 1px solid #BADA55;
}
}
#badged {
border-top: 1px solid lighten(#BAD6ED, 10%);
border-bottom: 1px solid darken(#BAD6ED, 10%);
background: #BAD6ED;
h3 {
color: #BAD6ED;
}
.hex-spacer {
border-right: 1px solid #BAD6ED;
}
}
#badges {
border-top: 1px solid lighten(#BAD6E5, 10%);
border-bottom: 1px solid darken(#BAD6E5, 10%);
background: #BAD6E5;
h3 {
color: #BAD6E5;
}
.hex-spacer {
border-right: 1px solid #BAD6E5;
}
}
#baffle {
border-top: 1px solid lighten(#BAFF1E, 10%);
border-bottom: 1px solid darken(#BAFF1E, 10%);
background: #BAFF1E;
h3 {
color: #BAFF1E;
}
.hex-spacer {
border-right: 1px solid #BAFF1E;
}
}
#bagass {
border-top: 1px solid lighten(#BA6A55, 10%);
border-bottom: 1px solid darken(#BA6A55, 10%);
background: #BA6A55;
h3 {
color: #BA6A55;
}
.hex-spacer {
border-right: 1px solid #BA6A55;
}
}
#bagels {
border-top: 1px solid lighten(#BA6E15, 10%);
border-bottom: 1px solid darken(#BA6E15, 10%);
background: #BA6E15;
h3 {
color: #BA6E15;
}
.hex-spacer {
border-right: 1px solid #BA6E15;
}
}
#bagged {
border-top: 1px solid lighten(#BA66ED, 10%);
border-bottom: 1px solid darken(#BA66ED, 10%);
background: #BA66ED;
h3 {
color: #BA66ED;
}
.hex-spacer {
border-right: 1px solid #BA66ED;
}
}
#balboa {
border-top: 1px solid lighten(#BA1B0A, 10%);
border-bottom: 1px solid darken(#BA1B0A, 10%);
background: #BA1B0A;
h3 {
color: #BA1B0A;
}
.hex-spacer {
border-right: 1px solid #BA1B0A;
}
}
#balded {
border-top: 1px solid lighten(#BA1DED, 10%);
border-bottom: 1px solid darken(#BA1DED, 10%);
background: #BA1DED;
h3 {
color: #BA1DED;
}
.hex-spacer {
border-right: 1px solid #BA1DED;
}
}
#balled {
border-top: 1px solid lighten(#BA11ED, 10%);
border-bottom: 1px solid darken(#BA11ED, 10%);
background: #BA11ED;
h3 {
color: #BA11ED;
}
.hex-spacer {
border-right: 1px solid #BA11ED;
}
}
#balsas {
border-top: 1px solid lighten(#BA15A5, 10%);
border-bottom: 1px solid darken(#BA15A5, 10%);
background: #BA15A5;
h3 {
color: #BA15A5;
}
.hex-spacer {
border-right: 1px solid #BA15A5;
}
}
#baobab {
border-top: 1px solid lighten(#BA0BAB, 10%);
border-bottom: 1px solid darken(#BA0BAB, 10%);
background: #BA0BAB;
h3 {
color: #BA0BAB;
}
.hex-spacer {
border-right: 1px solid #BA0BAB;
}
}
#basses {
border-top: 1px solid lighten(#BA55E5, 10%);
border-bottom: 1px solid darken(#BA55E5, 10%);
background: #BA55E5;
h3 {
color: #BA55E5;
}
.hex-spacer {
border-right: 1px solid #BA55E5;
}
}
#bassos {
border-top: 1px solid lighten(#BA5505, 10%);
border-bottom: 1px solid darken(#BA5505, 10%);
background: #BA5505;
h3 {
color: #BA5505;
}
.hex-spacer {
border-right: 1px solid #BA5505;
}
}
#beaded {
border-top: 1px solid lighten(#BEADED, 10%);
border-bottom: 1px solid darken(#BEADED, 10%);
background: #BEADED;
h3 {
color: #BEADED;
}
.hex-spacer {
border-right: 1px solid #BEADED;
}
}
#beadle {
border-top: 1px solid lighten(#BEAD1E, 10%);
border-bottom: 1px solid darken(#BEAD1E, 10%);
background: #BEAD1E;
h3 {
color: #BEAD1E;
}
.hex-spacer {
border-right: 1px solid #BEAD1E;
}
}
#beagle {
border-top: 1px solid lighten(#BEA61E, 10%);
border-bottom: 1px solid darken(#BEA61E, 10%);
background: #BEA61E;
h3 {
color: #BEA61E;
}
.hex-spacer {
border-right: 1px solid #BEA61E;
}
}
#beclog {
border-top: 1px solid lighten(#BEC106, 10%);
border-bottom: 1px solid darken(#BEC106, 10%);
background: #BEC106;
h3 {
color: #BEC106;
}
.hex-spacer {
border-right: 1px solid #BEC106;
}
}
#bedded {
border-top: 1px solid lighten(#BEDDED, 10%);
border-bottom: 1px solid darken(#BEDDED, 10%);
background: #BEDDED;
h3 {
color: #BEDDED;
}
.hex-spacer {
border-right: 1px solid #BEDDED;
}
}
#bedell {
border-top: 1px solid lighten(#BEDE11, 10%);
border-bottom: 1px solid darken(#BEDE11, 10%);
background: #BEDE11;
h3 {
color: #BEDE11;
}
.hex-spacer {
border-right: 1px solid #BEDE11;
}
}
#bedels {
border-top: 1px solid lighten(#BEDE15, 10%);
border-bottom: 1px solid darken(#BEDE15, 10%);
background: #BEDE15;
h3 {
color: #BEDE15;
}
.hex-spacer {
border-right: 1px solid #BEDE15;
}
}
#beebee {
border-top: 1px solid lighten(#BEEBEE, 10%);
border-bottom: 1px solid darken(#BEEBEE, 10%);
background: #BEEBEE;
h3 {
color: #BEEBEE;
}
.hex-spacer {
border-right: 1px solid #BEEBEE;
}
}
#beefed {
border-top: 1px solid lighten(#BEEFED, 10%);
border-bottom: 1px solid darken(#BEEFED, 10%);
background: #BEEFED;
h3 {
color: #BEEFED;
}
.hex-spacer {
border-right: 1px solid #BEEFED;
}
}
#befall {
border-top: 1px solid lighten(#BEFA11, 10%);
border-bottom: 1px solid darken(#BEFA11, 10%);
background: #BEFA11;
h3 {
color: #BEFA11;
}
.hex-spacer {
border-right: 1px solid #BEFA11;
}
}
#beflea {
border-top: 1px solid lighten(#BEF1EA, 10%);
border-bottom: 1px solid darken(#BEF1EA, 10%);
background: #BEF1EA;
h3 {
color: #BEF1EA;
}
.hex-spacer {
border-right: 1px solid #BEF1EA;
}
}
#befogs {
border-top: 1px solid lighten(#BEF065, 10%);
border-bottom: 1px solid darken(#BEF065, 10%);
background: #BEF065;
h3 {
color: #BEF065;
}
.hex-spacer {
border-right: 1px solid #BEF065;
}
}
#befool {
border-top: 1px solid lighten(#BEF001, 10%);
border-bottom: 1px solid darken(#BEF001, 10%);
background: #BEF001;
h3 {
color: #BEF001;
}
.hex-spacer {
border-right: 1px solid #BEF001;
}
}
#begall {
border-top: 1px solid lighten(#BE6A11, 10%);
border-bottom: 1px solid darken(#BE6A11, 10%);
background: #BE6A11;
h3 {
color: #BE6A11;
}
.hex-spacer {
border-right: 1px solid #BE6A11;
}
}
#begged {
border-top: 1px solid lighten(#BE66ED, 10%);
border-bottom: 1px solid darken(#BE66ED, 10%);
background: #BE66ED;
h3 {
color: #BE66ED;
}
.hex-spacer {
border-right: 1px solid #BE66ED;
}
}
#beglad {
border-top: 1px solid lighten(#BE61AD, 10%);
border-bottom: 1px solid darken(#BE61AD, 10%);
background: #BE61AD;
h3 {
color: #BE61AD;
}
.hex-spacer {
border-right: 1px solid #BE61AD;
}
}
#belgas {
border-top: 1px solid lighten(#BE16A5, 10%);
border-bottom: 1px solid darken(#BE16A5, 10%);
background: #BE16A5;
h3 {
color: #BE16A5;
}
.hex-spacer {
border-right: 1px solid #BE16A5;
}
}
#belles {
border-top: 1px solid lighten(#BE11E5, 10%);
border-bottom: 1px solid darken(#BE11E5, 10%);
background: #BE11E5;
h3 {
color: #BE11E5;
}
.hex-spacer {
border-right: 1px solid #BE11E5;
}
}
#blades {
border-top: 1px solid lighten(#B1ADE5, 10%);
border-bottom: 1px solid darken(#B1ADE5, 10%);
background: #B1ADE5;
h3 {
color: #B1ADE5;
}
.hex-spacer {
border-right: 1px solid #B1ADE5;
}
}
#bleeds {
border-top: 1px solid lighten(#B1EED5, 10%);
border-bottom: 1px solid darken(#B1EED5, 10%);
background: #B1EED5;
h3 {
color: #B1EED5;
}
.hex-spacer {
border-right: 1px solid #B1EED5;
}
}
#bloods {
border-top: 1px solid lighten(#B100D5, 10%);
border-bottom: 1px solid darken(#B100D5, 10%);
background: #B100D5;
h3 {
color: #B100D5;
}
.hex-spacer {
border-right: 1px solid #B100D5;
}
}
#bobbed {
border-top: 1px solid lighten(#B0BBED, 10%);
border-bottom: 1px solid darken(#B0BBED, 10%);
background: #B0BBED;
h3 {
color: #B0BBED;
}
.hex-spacer {
border-right: 1px solid #B0BBED;
}
}
#bobble {
border-top: 1px solid lighten(#B0BB1E, 10%);
border-bottom: 1px solid darken(#B0BB1E, 10%);
background: #B0BB1E;
h3 {
color: #B0BB1E;
}
.hex-spacer {
border-right: 1px solid #B0BB1E;
}
}
#bocces {
border-top: 1px solid lighten(#B0CCE5, 10%);
border-bottom: 1px solid darken(#B0CCE5, 10%);
background: #B0CCE5;
h3 {
color: #B0CCE5;
}
.hex-spacer {
border-right: 1px solid #B0CCE5;
}
}
#bodega {
border-top: 1px solid lighten(#B0DE6A, 10%);
border-bottom: 1px solid darken(#B0DE6A, 10%);
background: #B0DE6A;
h3 {
color: #B0DE6A;
}
.hex-spacer {
border-right: 1px solid #B0DE6A;
}
}
#boffed {
border-top: 1px solid lighten(#B0FFED, 10%);
border-bottom: 1px solid darken(#B0FFED, 10%);
background: #B0FFED;
h3 {
color: #B0FFED;
}
.hex-spacer {
border-right: 1px solid #B0FFED;
}
}
#bogged {
border-top: 1px solid lighten(#B066ED, 10%);
border-bottom: 1px solid darken(#B066ED, 10%);
background: #B066ED;
h3 {
color: #B066ED;
}
.hex-spacer {
border-right: 1px solid #B066ED;
}
}
#boggle {
border-top: 1px solid lighten(#B0661E, 10%);
border-bottom: 1px solid darken(#B0661E, 10%);
background: #B0661E;
h3 {
color: #B0661E;
}
.hex-spacer {
border-right: 1px solid #B0661E;
}
}
#bogles {
border-top: 1px solid lighten(#B061E5, 10%);
border-bottom: 1px solid darken(#B061E5, 10%);
background: #B061E5;
h3 {
color: #B061E5;
}
.hex-spacer {
border-right: 1px solid #B061E5;
}
}
#bolled {
border-top: 1px solid lighten(#B011ED, 10%);
border-bottom: 1px solid darken(#B011ED, 10%);
background: #B011ED;
h3 {
color: #B011ED;
}
.hex-spacer {
border-right: 1px solid #B011ED;
}
}
#boobed {
border-top: 1px solid lighten(#B00BED, 10%);
border-bottom: 1px solid darken(#B00BED, 10%);
background: #B00BED;
h3 {
color: #B00BED;
}
.hex-spacer {
border-right: 1px solid #B00BED;
}
}
#booboo {
border-top: 1px solid lighten(#B00B00, 10%);
border-bottom: 1px solid darken(#B00B00, 10%);
background: #B00B00;
h3 {
color: #B00B00;
}
.hex-spacer {
border-right: 1px solid #B00B00;
}
}
#boodle {
border-top: 1px solid lighten(#B00D1E, 10%);
border-bottom: 1px solid darken(#B00D1E, 10%);
background: #B00D1E;
h3 {
color: #B00D1E;
}
.hex-spacer {
border-right: 1px solid #B00D1E;
}
}
#bosses {
border-top: 1px solid lighten(#B055E5, 10%);
border-bottom: 1px solid darken(#B055E5, 10%);
background: #B055E5;
h3 {
color: #B055E5;
}
.hex-spacer {
border-right: 1px solid #B055E5;
}
}
#cabala {
border-top: 1px solid lighten(#CABA1A, 10%);
border-bottom: 1px solid darken(#CABA1A, 10%);
background: #CABA1A;
h3 {
color: #CABA1A;
}
.hex-spacer {
border-right: 1px solid #CABA1A;
}
}
#cabbed {
border-top: 1px solid lighten(#CABBED, 10%);
border-bottom: 1px solid darken(#CABBED, 10%);
background: #CABBED;
h3 {
color: #CABBED;
}
.hex-spacer {
border-right: 1px solid #CABBED;
}
}
#cables {
border-top: 1px solid lighten(#CAB1E5, 10%);
border-bottom: 1px solid darken(#CAB1E5, 10%);
background: #CAB1E5;
h3 {
color: #CAB1E5;
}
.hex-spacer {
border-right: 1px solid #CAB1E5;
}
}
#cabobs {
border-top: 1px solid lighten(#CAB0B5, 10%);
border-bottom: 1px solid darken(#CAB0B5, 10%);
background: #CAB0B5;
h3 {
color: #CAB0B5;
}
.hex-spacer {
border-right: 1px solid #CAB0B5;
}
}
#cacaos {
border-top: 1px solid lighten(#CACA05, 10%);
border-bottom: 1px solid darken(#CACA05, 10%);
background: #CACA05;
h3 {
color: #CACA05;
}
.hex-spacer {
border-right: 1px solid #CACA05;
}
}
#cadges {
border-top: 1px solid lighten(#CAD6E5, 10%);
border-bottom: 1px solid darken(#CAD6E5, 10%);
background: #CAD6E5;
h3 {
color: #CAD6E5;
}
.hex-spacer {
border-right: 1px solid #CAD6E5;
}
}
#callee {
border-top: 1px solid lighten(#CA11EE, 10%);
border-bottom: 1px solid darken(#CA11EE, 10%);
background: #CA11EE;
h3 {
color: #CA11EE;
}
.hex-spacer {
border-right: 1px solid #CA11EE;
}
}
#casaba {
border-top: 1px solid lighten(#CA5ABA, 10%);
border-bottom: 1px solid darken(#CA5ABA, 10%);
background: #CA5ABA;
h3 {
color: #CA5ABA;
}
.hex-spacer {
border-right: 1px solid #CA5ABA;
}
}
#ceased {
border-top: 1px solid lighten(#CEA5ED, 10%);
border-bottom: 1px solid darken(#CEA5ED, 10%);
background: #CEA5ED;
h3 {
color: #CEA5ED;
}
.hex-spacer {
border-right: 1px solid #CEA5ED;
}
}
#celebs {
border-top: 1px solid lighten(#CE1EB5, 10%);
border-bottom: 1px solid darken(#CE1EB5, 10%);
background: #CE1EB5;
h3 {
color: #CE1EB5;
}
.hex-spacer {
border-right: 1px solid #CE1EB5;
}
}
#cellos {
border-top: 1px solid lighten(#CE1105, 10%);
border-bottom: 1px solid darken(#CE1105, 10%);
background: #CE1105;
h3 {
color: #CE1105;
}
.hex-spacer {
border-right: 1px solid #CE1105;
}
}
#cesses {
border-top: 1px solid lighten(#CE55E5, 10%);
border-bottom: 1px solid darken(#CE55E5, 10%);
background: #CE55E5;
h3 {
color: #CE55E5;
}
.hex-spacer {
border-right: 1px solid #CE55E5;
}
}
#clades {
border-top: 1px solid lighten(#C1ADE5, 10%);
border-bottom: 1px solid darken(#C1ADE5, 10%);
background: #C1ADE5;
h3 {
color: #C1ADE5;
}
.hex-spacer {
border-right: 1px solid #C1ADE5;
}
}
#cloaca {
border-top: 1px solid lighten(#C10ACA, 10%);
border-bottom: 1px solid darken(#C10ACA, 10%);
background: #C10ACA;
h3 {
color: #C10ACA;
}
.hex-spacer {
border-right: 1px solid #C10ACA;
}
}
#closed {
border-top: 1px solid lighten(#C105ED, 10%);
border-bottom: 1px solid darken(#C105ED, 10%);
background: #C105ED;
h3 {
color: #C105ED;
}
.hex-spacer {
border-right: 1px solid #C105ED;
}
}
#coaled {
border-top: 1px solid lighten(#C0A1ED, 10%);
border-bottom: 1px solid darken(#C0A1ED, 10%);
background: #C0A1ED;
h3 {
color: #C0A1ED;
}
.hex-spacer {
border-right: 1px solid #C0A1ED;
}
}
#cobble {
border-top: 1px solid lighten(#C0BB1E, 10%);
border-bottom: 1px solid darken(#C0BB1E, 10%);
background: #C0BB1E;
h3 {
color: #C0BB1E;
}
.hex-spacer {
border-right: 1px solid #C0BB1E;
}
}
#coccal {
border-top: 1px solid lighten(#C0CCA1, 10%);
border-bottom: 1px solid darken(#C0CCA1, 10%);
background: #C0CCA1;
h3 {
color: #C0CCA1;
}
.hex-spacer {
border-right: 1px solid #C0CCA1;
}
}
#cocoas {
border-top: 1px solid lighten(#C0C0A5, 10%);
border-bottom: 1px solid darken(#C0C0A5, 10%);
background: #C0C0A5;
h3 {
color: #C0C0A5;
}
.hex-spacer {
border-right: 1px solid #C0C0A5;
}
}
#coddle {
border-top: 1px solid lighten(#C0DD1E, 10%);
border-bottom: 1px solid darken(#C0DD1E, 10%);
background: #C0DD1E;
h3 {
color: #C0DD1E;
}
.hex-spacer {
border-right: 1px solid #C0DD1E;
}
}
#codecs {
border-top: 1px solid lighten(#C0DEC5, 10%);
border-bottom: 1px solid darken(#C0DEC5, 10%);
background: #C0DEC5;
h3 {
color: #C0DEC5;
}
.hex-spacer {
border-right: 1px solid #C0DEC5;
}
}
#coffee {
border-top: 1px solid lighten(#C0FFEE, 10%);
border-bottom: 1px solid darken(#C0FFEE, 10%);
background: #C0FFEE;
h3 {
color: #C0FFEE;
}
.hex-spacer {
border-right: 1px solid #C0FFEE;
}
}
#cogged {
border-top: 1px solid lighten(#C066ED, 10%);
border-bottom: 1px solid darken(#C066ED, 10%);
background: #C066ED;
h3 {
color: #C066ED;
}
.hex-spacer {
border-right: 1px solid #C066ED;
}
}
#colead {
border-top: 1px solid lighten(#C01EAD, 10%);
border-bottom: 1px solid darken(#C01EAD, 10%);
background: #C01EAD;
h3 {
color: #C01EAD;
}
.hex-spacer {
border-right: 1px solid #C01EAD;
}
}
#cologs {
border-top: 1px solid lighten(#C01065, 10%);
border-bottom: 1px solid darken(#C01065, 10%);
background: #C01065;
h3 {
color: #C01065;
}
.hex-spacer {
border-right: 1px solid #C01065;
}
}
#coocoo {
border-top: 1px solid lighten(#C00C00, 10%);
border-bottom: 1px solid darken(#C00C00, 10%);
background: #C00C00;
h3 {
color: #C00C00;
}
.hex-spacer {
border-right: 1px solid #C00C00;
}
}
#cooled {
border-top: 1px solid lighten(#C001ED, 10%);
border-bottom: 1px solid darken(#C001ED, 10%);
background: #C001ED;
h3 {
color: #C001ED;
}
.hex-spacer {
border-right: 1px solid #C001ED;
}
}
#dabbed {
border-top: 1px solid lighten(#DABBED, 10%);
border-bottom: 1px solid darken(#DABBED, 10%);
background: #DABBED;
h3 {
color: #DABBED;
}
.hex-spacer {
border-right: 1px solid #DABBED;
}
}
#dabble {
border-top: 1px solid lighten(#DABB1E, 10%);
border-bottom: 1px solid darken(#DABB1E, 10%);
background: #DABB1E;
h3 {
color: #DABB1E;
}
.hex-spacer {
border-right: 1px solid #DABB1E;
}
}
#daddle {
border-top: 1px solid lighten(#DADD1E, 10%);
border-bottom: 1px solid darken(#DADD1E, 10%);
background: #DADD1E;
h3 {
color: #DADD1E;
}
.hex-spacer {
border-right: 1px solid #DADD1E;
}
}
#dadoes {
border-top: 1px solid lighten(#DAD0E5, 10%);
border-bottom: 1px solid darken(#DAD0E5, 10%);
background: #DAD0E5;
h3 {
color: #DAD0E5;
}
.hex-spacer {
border-right: 1px solid #DAD0E5;
}
}
#daedal {
border-top: 1px solid lighten(#DAEDA1, 10%);
border-bottom: 1px solid darken(#DAEDA1, 10%);
background: #DAEDA1;
h3 {
color: #DAEDA1;
}
.hex-spacer {
border-right: 1px solid #DAEDA1;
}
}
#daffed {
border-top: 1px solid lighten(#DAFFED, 10%);
border-bottom: 1px solid darken(#DAFFED, 10%);
background: #DAFFED;
h3 {
color: #DAFFED;
}
.hex-spacer {
border-right: 1px solid #DAFFED;
}
}
#daggas {
border-top: 1px solid lighten(#DA66A5, 10%);
border-bottom: 1px solid darken(#DA66A5, 10%);
background: #DA66A5;
h3 {
color: #DA66A5;
}
.hex-spacer {
border-right: 1px solid #DA66A5;
}
}
#daggle {
border-top: 1px solid lighten(#DA661E, 10%);
border-bottom: 1px solid darken(#DA661E, 10%);
background: #DA661E;
h3 {
color: #DA661E;
}
.hex-spacer {
border-right: 1px solid #DA661E;
}
}
#dagoba {
border-top: 1px solid lighten(#DA60BA, 10%);
border-bottom: 1px solid darken(#DA60BA, 10%);
background: #DA60BA;
h3 {
color: #DA60BA;
}
.hex-spacer {
border-right: 1px solid #DA60BA;
}
}
#dalles {
border-top: 1px solid lighten(#DA11E5, 10%);
border-bottom: 1px solid darken(#DA11E5, 10%);
background: #DA11E5;
h3 {
color: #DA11E5;
}
.hex-spacer {
border-right: 1px solid #DA11E5;
}
}
#debags {
border-top: 1px solid lighten(#DEBA65, 10%);
border-bottom: 1px solid darken(#DEBA65, 10%);
background: #DEBA65;
h3 {
color: #DEBA65;
}
.hex-spacer {
border-right: 1px solid #DEBA65;
}
}
#debase {
border-top: 1px solid lighten(#DEBA5E, 10%);
border-bottom: 1px solid darken(#DEBA5E, 10%);
background: #DEBA5E;
h3 {
color: #DEBA5E;
}
.hex-spacer {
border-right: 1px solid #DEBA5E;
}
}
#decade {
border-top: 1px solid lighten(#DECADE, 10%);
border-bottom: 1px solid darken(#DECADE, 10%);
background: #DECADE;
h3 {
color: #DECADE;
}
.hex-spacer {
border-right: 1px solid #DECADE;
}
}
#decafs {
border-top: 1px solid lighten(#DECAF5, 10%);
border-bottom: 1px solid darken(#DECAF5, 10%);
background: #DECAF5;
h3 {
color: #DECAF5;
}
.hex-spacer {
border-right: 1px solid #DECAF5;
}
}
#decode {
border-top: 1px solid lighten(#DEC0DE, 10%);
border-bottom: 1px solid darken(#DEC0DE, 10%);
background: #DEC0DE;
h3 {
color: #DEC0DE;
}
.hex-spacer {
border-right: 1px solid #DEC0DE;
}
}
#deeded {
border-top: 1px solid lighten(#DEEDED, 10%);
border-bottom: 1px solid darken(#DEEDED, 10%);
background: #DEEDED;
h3 {
color: #DEEDED;
}
.hex-spacer {
border-right: 1px solid #DEEDED;
}
}
#deface {
border-top: 1px solid lighten(#DEFACE, 10%);
border-bottom: 1px solid darken(#DEFACE, 10%);
background: #DEFACE;
h3 {
color: #DEFACE;
}
.hex-spacer {
border-right: 1px solid #DEFACE;
}
}
#deflea {
border-top: 1px solid lighten(#DEF1EA, 10%);
border-bottom: 1px solid darken(#DEF1EA, 10%);
background: #DEF1EA;
h3 {
color: #DEF1EA;
}
.hex-spacer {
border-right: 1px solid #DEF1EA;
}
}
#degage {
border-top: 1px solid lighten(#DE6A6E, 10%);
border-bottom: 1px solid darken(#DE6A6E, 10%);
background: #DE6A6E;
h3 {
color: #DE6A6E;
}
.hex-spacer {
border-right: 1px solid #DE6A6E;
}
}
#doable {
border-top: 1px solid lighten(#D0AB1E, 10%);
border-bottom: 1px solid darken(#D0AB1E, 10%);
background: #D0AB1E;
h3 {
color: #D0AB1E;
}
.hex-spacer {
border-right: 1px solid #D0AB1E;
}
}
#doblas {
border-top: 1px solid lighten(#D0B1A5, 10%);
border-bottom: 1px solid darken(#D0B1A5, 10%);
background: #D0B1A5;
h3 {
color: #D0B1A5;
}
.hex-spacer {
border-right: 1px solid #D0B1A5;
}
}
#dodged {
border-top: 1px solid lighten(#D0D6ED, 10%);
border-bottom: 1px solid darken(#D0D6ED, 10%);
background: #D0D6ED;
h3 {
color: #D0D6ED;
}
.hex-spacer {
border-right: 1px solid #D0D6ED;
}
}
#dodoes {
border-top: 1px solid lighten(#D0D0E5, 10%);
border-bottom: 1px solid darken(#D0D0E5, 10%);
background: #D0D0E5;
h3 {
color: #D0D0E5;
}
.hex-spacer {
border-right: 1px solid #D0D0E5;
}
}
#doffed {
border-top: 1px solid lighten(#D0FFED, 10%);
border-bottom: 1px solid darken(#D0FFED, 10%);
background: #D0FFED;
h3 {
color: #D0FFED;
}
.hex-spacer {
border-right: 1px solid #D0FFED;
}
}
#dogged {
border-top: 1px solid lighten(#D066ED, 10%);
border-bottom: 1px solid darken(#D066ED, 10%);
background: #D066ED;
h3 {
color: #D066ED;
}
.hex-spacer {
border-right: 1px solid #D066ED;
}
}
#dogleg {
border-top: 1px solid lighten(#D061E6, 10%);
border-bottom: 1px solid darken(#D061E6, 10%);
background: #D061E6;
h3 {
color: #D061E6;
}
.hex-spacer {
border-right: 1px solid #D061E6;
}
}
#dolled {
border-top: 1px solid lighten(#D011ED, 10%);
border-bottom: 1px solid darken(#D011ED, 10%);
background: #D011ED;
h3 {
color: #D011ED;
}
.hex-spacer {
border-right: 1px solid #D011ED;
}
}
#doodad {
border-top: 1px solid lighten(#D00DAD, 10%);
border-bottom: 1px solid darken(#D00DAD, 10%);
background: #D00DAD;
h3 {
color: #D00DAD;
}
.hex-spacer {
border-right: 1px solid #D00DAD;
}
}
#doodle {
border-top: 1px solid lighten(#D00D1E, 10%);
border-bottom: 1px solid darken(#D00D1E, 10%);
background: #D00D1E;
h3 {
color: #D00D1E;
}
.hex-spacer {
border-right: 1px solid #D00D1E;
}
}
#doodoo {
border-top: 1px solid lighten(#D00D00, 10%);
border-bottom: 1px solid darken(#D00D00, 10%);
background: #D00D00;
h3 {
color: #D00D00;
}
.hex-spacer {
border-right: 1px solid #D00D00;
}
}
#dosage {
border-top: 1px solid lighten(#D05A6E, 10%);
border-bottom: 1px solid darken(#D05A6E, 10%);
background: #D05A6E;
h3 {
color: #D05A6E;
}
.hex-spacer {
border-right: 1px solid #D05A6E;
}
}
#dossal {
border-top: 1px solid lighten(#D055A1, 10%);
border-bottom: 1px solid darken(#D055A1, 10%);
background: #D055A1;
h3 {
color: #D055A1;
}
.hex-spacer {
border-right: 1px solid #D055A1;
}
}
#dossed {
border-top: 1px solid lighten(#D055ED, 10%);
border-bottom: 1px solid darken(#D055ED, 10%);
background: #D055ED;
h3 {
color: #D055ED;
}
.hex-spacer {
border-right: 1px solid #D055ED;
}
}
#eagled {
border-top: 1px solid lighten(#EA61ED, 10%);
border-bottom: 1px solid darken(#EA61ED, 10%);
background: #EA61ED;
h3 {
color: #EA61ED;
}
.hex-spacer {
border-right: 1px solid #EA61ED;
}
}
#fables {
border-top: 1px solid lighten(#FAB1E5, 10%);
border-bottom: 1px solid darken(#FAB1E5, 10%);
background: #FAB1E5;
h3 {
color: #FAB1E5;
}
.hex-spacer {
border-right: 1px solid #FAB1E5;
}
}
#facade {
border-top: 1px solid lighten(#FACADE, 10%);
border-bottom: 1px solid darken(#FACADE, 10%);
background: #FACADE;
h3 {
color: #FACADE;
}
.hex-spacer {
border-right: 1px solid #FACADE;
}
}
#fagged {
border-top: 1px solid lighten(#FA66ED, 10%);
border-bottom: 1px solid darken(#FA66ED, 10%);
background: #FA66ED;
h3 {
color: #FA66ED;
}
.hex-spacer {
border-right: 1px solid #FA66ED;
}
}
#fasces {
border-top: 1px solid lighten(#FA5CE5, 10%);
border-bottom: 1px solid darken(#FA5CE5, 10%);
background: #FA5CE5;
h3 {
color: #FA5CE5;
}
.hex-spacer {
border-right: 1px solid #FA5CE5;
}
}
#feased {
border-top: 1px solid lighten(#FEA5ED, 10%);
border-bottom: 1px solid darken(#FEA5ED, 10%);
background: #FEA5ED;
h3 {
color: #FEA5ED;
}
.hex-spacer {
border-right: 1px solid #FEA5ED;
}
}
#feases {
border-top: 1px solid lighten(#FEA5E5, 10%);
border-bottom: 1px solid darken(#FEA5E5, 10%);
background: #FEA5E5;
h3 {
color: #FEA5E5;
}
.hex-spacer {
border-right: 1px solid #FEA5E5;
}
}
#feeble {
border-top: 1px solid lighten(#FEEB1E, 10%);
border-bottom: 1px solid darken(#FEEB1E, 10%);
background: #FEEB1E;
h3 {
color: #FEEB1E;
}
.hex-spacer {
border-right: 1px solid #FEEB1E;
}
}
#fellas {
border-top: 1px solid lighten(#FE11A5, 10%);
border-bottom: 1px solid darken(#FE11A5, 10%);
background: #FE11A5;
h3 {
color: #FE11A5;
}
.hex-spacer {
border-right: 1px solid #FE11A5;
}
}
#felled {
border-top: 1px solid lighten(#FE11ED, 10%);
border-bottom: 1px solid darken(#FE11ED, 10%);
background: #FE11ED;
h3 {
color: #FE11ED;
}
.hex-spacer {
border-right: 1px solid #FE11ED;
}
}
#fessed {
border-top: 1px solid lighten(#FE55ED, 10%);
border-bottom: 1px solid darken(#FE55ED, 10%);
background: #FE55ED;
h3 {
color: #FE55ED;
}
.hex-spacer {
border-right: 1px solid #FE55ED;
}
}
#fledge {
border-top: 1px solid lighten(#F1ED6E, 10%);
border-bottom: 1px solid darken(#F1ED6E, 10%);
background: #F1ED6E;
h3 {
color: #F1ED6E;
}
.hex-spacer {
border-right: 1px solid #F1ED6E;
}
}
#fleece {
border-top: 1px solid lighten(#F1EECE, 10%);
border-bottom: 1px solid darken(#F1EECE, 10%);
background: #F1EECE;
h3 {
color: #F1EECE;
}
.hex-spacer {
border-right: 1px solid #F1EECE;
}
}
#floods {
border-top: 1px solid lighten(#F100D5, 10%);
border-bottom: 1px solid darken(#F100D5, 10%);
background: #F100D5;
h3 {
color: #F100D5;
}
.hex-spacer {
border-right: 1px solid #F100D5;
}
}
#foaled {
border-top: 1px solid lighten(#F0A1ED, 10%);
border-bottom: 1px solid darken(#F0A1ED, 10%);
background: #F0A1ED;
h3 {
color: #F0A1ED;
}
.hex-spacer {
border-right: 1px solid #F0A1ED;
}
}
#fobbed {
border-top: 1px solid lighten(#F0BBED, 10%);
border-bottom: 1px solid darken(#F0BBED, 10%);
background: #F0BBED;
h3 {
color: #F0BBED;
}
.hex-spacer {
border-right: 1px solid #F0BBED;
}
}
#fogdog {
border-top: 1px solid lighten(#F06D06, 10%);
border-bottom: 1px solid darken(#F06D06, 10%);
background: #F06D06;
h3 {
color: #F06D06;
}
.hex-spacer {
border-right: 1px solid #F06D06;
}
}
#folded {
border-top: 1px solid lighten(#F01DED, 10%);
border-bottom: 1px solid darken(#F01DED, 10%);
background: #F01DED;
h3 {
color: #F01DED;
}
.hex-spacer {
border-right: 1px solid #F01DED;
}
}
#fooled {
border-top: 1px solid lighten(#F001ED, 10%);
border-bottom: 1px solid darken(#F001ED, 10%);
background: #F001ED;
h3 {
color: #F001ED;
}
.hex-spacer {
border-right: 1px solid #F001ED;
}
}
#gabbed {
border-top: 1px solid lighten(#6ABBED, 10%);
border-bottom: 1px solid darken(#6ABBED, 10%);
background: #6ABBED;
h3 {
color: #6ABBED;
}
.hex-spacer {
border-right: 1px solid #6ABBED;
}
}
#gagged {
border-top: 1px solid lighten(#6A66ED, 10%);
border-bottom: 1px solid darken(#6A66ED, 10%);
background: #6A66ED;
h3 {
color: #6A66ED;
}
.hex-spacer {
border-right: 1px solid #6A66ED;
}
}
#gasbag {
border-top: 1px solid lighten(#6A5BA6, 10%);
border-bottom: 1px solid darken(#6A5BA6, 10%);
background: #6A5BA6;
h3 {
color: #6A5BA6;
}
.hex-spacer {
border-right: 1px solid #6A5BA6;
}
}
#gassed {
border-top: 1px solid lighten(#6A55ED, 10%);
border-bottom: 1px solid darken(#6A55ED, 10%);
background: #6A55ED;
h3 {
color: #6A55ED;
}
.hex-spacer {
border-right: 1px solid #6A55ED;
}
}
#gasses {
border-top: 1px solid lighten(#6A55E5, 10%);
border-bottom: 1px solid darken(#6A55E5, 10%);
background: #6A55E5;
h3 {
color: #6A55E5;
}
.hex-spacer {
border-right: 1px solid #6A55E5;
}
}
#global {
border-top: 1px solid lighten(#610BA1, 10%);
border-bottom: 1px solid darken(#610BA1, 10%);
background: #610BA1;
h3 {
color: #610BA1;
}
.hex-spacer {
border-right: 1px solid #610BA1;
}
}
#globed {
border-top: 1px solid lighten(#610BED, 10%);
border-bottom: 1px solid darken(#610BED, 10%);
background: #610BED;
h3 {
color: #610BED;
}
.hex-spacer {
border-right: 1px solid #610BED;
}
}
#globes {
border-top: 1px solid lighten(#610BE5, 10%);
border-bottom: 1px solid darken(#610BE5, 10%);
background: #610BE5;
h3 {
color: #610BE5;
}
.hex-spacer {
border-right: 1px solid #610BE5;
}
}
#goaded {
border-top: 1px solid lighten(#60ADED, 10%);
border-bottom: 1px solid darken(#60ADED, 10%);
background: #60ADED;
h3 {
color: #60ADED;
}
.hex-spacer {
border-right: 1px solid #60ADED;
}
}
#gobbed {
border-top: 1px solid lighten(#60BBED, 10%);
border-bottom: 1px solid darken(#60BBED, 10%);
background: #60BBED;
h3 {
color: #60BBED;
}
.hex-spacer {
border-right: 1px solid #60BBED;
}
}
#gobble {
border-top: 1px solid lighten(#60BB1E, 10%);
border-bottom: 1px solid darken(#60BB1E, 10%);
background: #60BB1E;
h3 {
color: #60BB1E;
}
.hex-spacer {
border-right: 1px solid #60BB1E;
}
}
#goggle {
border-top: 1px solid lighten(#60661E, 10%);
border-bottom: 1px solid darken(#60661E, 10%);
background: #60661E;
h3 {
color: #60661E;
}
.hex-spacer {
border-right: 1px solid #60661E;
}
}
#goofed {
border-top: 1px solid lighten(#600FED, 10%);
border-bottom: 1px solid darken(#600FED, 10%);
background: #600FED;
h3 {
color: #600FED;
}
.hex-spacer {
border-right: 1px solid #600FED;
}
}
#goosed {
border-top: 1px solid lighten(#6005ED, 10%);
border-bottom: 1px solid darken(#6005ED, 10%);
background: #6005ED;
h3 {
color: #6005ED;
}
.hex-spacer {
border-right: 1px solid #6005ED;
}
}
#gooses {
border-top: 1px solid lighten(#6005E5, 10%);
border-bottom: 1px solid darken(#6005E5, 10%);
background: #6005E5;
h3 {
color: #6005E5;
}
.hex-spacer {
border-right: 1px solid #6005E5;
}
}
#labels {
border-top: 1px solid lighten(#1ABE15, 10%);
border-bottom: 1px solid darken(#1ABE15, 10%);
background: #1ABE15;
h3 {
color: #1ABE15;
}
.hex-spacer {
border-right: 1px solid #1ABE15;
}
}
#lagged {
border-top: 1px solid lighten(#1A66ED, 10%);
border-bottom: 1px solid darken(#1A66ED, 10%);
background: #1A66ED;
h3 {
color: #1A66ED;
}
.hex-spacer {
border-right: 1px solid #1A66ED;
}
}
#lassos {
border-top: 1px solid lighten(#1A5505, 10%);
border-bottom: 1px solid darken(#1A5505, 10%);
background: #1A5505;
h3 {
color: #1A5505;
}
.hex-spacer {
border-right: 1px solid #1A5505;
}
}
#leafed {
border-top: 1px solid lighten(#1EAFED, 10%);
border-bottom: 1px solid darken(#1EAFED, 10%);
background: #1EAFED;
h3 {
color: #1EAFED;
}
.hex-spacer {
border-right: 1px solid #1EAFED;
}
}
#leased {
border-top: 1px solid lighten(#1EA5ED, 10%);
border-bottom: 1px solid darken(#1EA5ED, 10%);
background: #1EA5ED;
h3 {
color: #1EA5ED;
}
.hex-spacer {
border-right: 1px solid #1EA5ED;
}
}
#ledges {
border-top: 1px solid lighten(#1ED6E5, 10%);
border-bottom: 1px solid darken(#1ED6E5, 10%);
background: #1ED6E5;
h3 {
color: #1ED6E5;
}
.hex-spacer {
border-right: 1px solid #1ED6E5;
}
}
#legals {
border-top: 1px solid lighten(#1E6A15, 10%);
border-bottom: 1px solid darken(#1E6A15, 10%);
background: #1E6A15;
h3 {
color: #1E6A15;
}
.hex-spacer {
border-right: 1px solid #1E6A15;
}
}
#legged {
border-top: 1px solid lighten(#1E66ED, 10%);
border-bottom: 1px solid darken(#1E66ED, 10%);
background: #1E66ED;
h3 {
color: #1E66ED;
}
.hex-spacer {
border-right: 1px solid #1E66ED;
}
}
#lesbos {
border-top: 1px solid lighten(#1E5B05, 10%);
border-bottom: 1px solid darken(#1E5B05, 10%);
background: #1E5B05;
h3 {
color: #1E5B05;
}
.hex-spacer {
border-right: 1px solid #1E5B05;
}
}
#loaded {
border-top: 1px solid lighten(#10ADED, 10%);
border-bottom: 1px solid darken(#10ADED, 10%);
background: #10ADED;
h3 {
color: #10ADED;
}
.hex-spacer {
border-right: 1px solid #10ADED;
}
}
#lobbed {
border-top: 1px solid lighten(#10BBED, 10%);
border-bottom: 1px solid darken(#10BBED, 10%);
background: #10BBED;
h3 {
color: #10BBED;
}
.hex-spacer {
border-right: 1px solid #10BBED;
}
}
#locale {
border-top: 1px solid lighten(#10CA1E, 10%);
border-bottom: 1px solid darken(#10CA1E, 10%);
background: #10CA1E;
h3 {
color: #10CA1E;
}
.hex-spacer {
border-right: 1px solid #10CA1E;
}
}
#locals {
border-top: 1px solid lighten(#10CA15, 10%);
border-bottom: 1px solid darken(#10CA15, 10%);
background: #10CA15;
h3 {
color: #10CA15;
}
.hex-spacer {
border-right: 1px solid #10CA15;
}
}
#lodged {
border-top: 1px solid lighten(#10D6ED, 10%);
border-bottom: 1px solid darken(#10D6ED, 10%);
background: #10D6ED;
h3 {
color: #10D6ED;
}
.hex-spacer {
border-right: 1px solid #10D6ED;
}
}
#logged {
border-top: 1px solid lighten(#1066ED, 10%);
border-bottom: 1px solid darken(#1066ED, 10%);
background: #1066ED;
h3 {
color: #1066ED;
}
.hex-spacer {
border-right: 1px solid #1066ED;
}
}
#lolled {
border-top: 1px solid lighten(#1011ED, 10%);
border-bottom: 1px solid darken(#1011ED, 10%);
background: #1011ED;
h3 {
color: #1011ED;
}
.hex-spacer {
border-right: 1px solid #1011ED;
}
}
#loofas {
border-top: 1px solid lighten(#100FA5, 10%);
border-bottom: 1px solid darken(#100FA5, 10%);
background: #100FA5;
h3 {
color: #100FA5;
}
.hex-spacer {
border-right: 1px solid #100FA5;
}
}
#loosed {
border-top: 1px solid lighten(#1005ED, 10%);
border-bottom: 1px solid darken(#1005ED, 10%);
background: #1005ED;
h3 {
color: #1005ED;
}
.hex-spacer {
border-right: 1px solid #1005ED;
}
}
#obsess {
border-top: 1px solid lighten(#0B5E55, 10%);
border-bottom: 1px solid darken(#0B5E55, 10%);
background: #0B5E55;
h3 {
color: #0B5E55;
}
.hex-spacer {
border-right: 1px solid #0B5E55;
}
}
#oodles {
border-top: 1px solid lighten(#00D1E5, 10%);
border-bottom: 1px solid darken(#00D1E5, 10%);
background: #00D1E5;
h3 {
color: #00D1E5;
}
.hex-spacer {
border-right: 1px solid #00D1E5;
}
}
#saddle {
border-top: 1px solid lighten(#5ADD1E, 10%);
border-bottom: 1px solid darken(#5ADD1E, 10%);
background: #5ADD1E;
h3 {
color: #5ADD1E;
}
.hex-spacer {
border-right: 1px solid #5ADD1E;
}
}
#sagged {
border-top: 1px solid lighten(#5A66ED, 10%);
border-bottom: 1px solid darken(#5A66ED, 10%);
background: #5A66ED;
h3 {
color: #5A66ED;
}
.hex-spacer {
border-right: 1px solid #5A66ED;
}
}
#salads {
border-top: 1px solid lighten(#5A1AD5, 10%);
border-bottom: 1px solid darken(#5A1AD5, 10%);
background: #5A1AD5;
h3 {
color: #5A1AD5;
}
.hex-spacer {
border-right: 1px solid #5A1AD5;
}
}
#salsas {
border-top: 1px solid lighten(#5A15A5, 10%);
border-bottom: 1px solid darken(#5A15A5, 10%);
background: #5A15A5;
h3 {
color: #5A15A5;
}
.hex-spacer {
border-right: 1px solid #5A15A5;
}
}
#sassed {
border-top: 1px solid lighten(#5A55ED, 10%);
border-bottom: 1px solid darken(#5A55ED, 10%);
background: #5A55ED;
h3 {
color: #5A55ED;
}
.hex-spacer {
border-right: 1px solid #5A55ED;
}
}
#scalds {
border-top: 1px solid lighten(#5CA1D5, 10%);
border-bottom: 1px solid darken(#5CA1D5, 10%);
background: #5CA1D5;
h3 {
color: #5CA1D5;
}
.hex-spacer {
border-right: 1px solid #5CA1D5;
}
}
#scales {
border-top: 1px solid lighten(#5CA1E5, 10%);
border-bottom: 1px solid darken(#5CA1E5, 10%);
background: #5CA1E5;
h3 {
color: #5CA1E5;
}
.hex-spacer {
border-right: 1px solid #5CA1E5;
}
}
#scalls {
border-top: 1px solid lighten(#5CA115, 10%);
border-bottom: 1px solid darken(#5CA115, 10%);
background: #5CA115;
h3 {
color: #5CA115;
}
.hex-spacer {
border-right: 1px solid #5CA115;
}
}
#scoffs {
border-top: 1px solid lighten(#5C0FF5, 10%);
border-bottom: 1px solid darken(#5C0FF5, 10%);
background: #5C0FF5;
h3 {
color: #5C0FF5;
}
.hex-spacer {
border-right: 1px solid #5C0FF5;
}
}
#scolds {
border-top: 1px solid lighten(#5C01D5, 10%);
border-bottom: 1px solid darken(#5C01D5, 10%);
background: #5C01D5;
h3 {
color: #5C01D5;
}
.hex-spacer {
border-right: 1px solid #5C01D5;
}
}
#seabag {
border-top: 1px solid lighten(#5EABA6, 10%);
border-bottom: 1px solid darken(#5EABA6, 10%);
background: #5EABA6;
h3 {
color: #5EABA6;
}
.hex-spacer {
border-right: 1px solid #5EABA6;
}
}
#seabed {
border-top: 1px solid lighten(#5EABED, 10%);
border-bottom: 1px solid darken(#5EABED, 10%);
background: #5EABED;
h3 {
color: #5EABED;
}
.hex-spacer {
border-right: 1px solid #5EABED;
}
}
#seadog {
border-top: 1px solid lighten(#5EAD06, 10%);
border-bottom: 1px solid darken(#5EAD06, 10%);
background: #5EAD06;
h3 {
color: #5EAD06;
}
.hex-spacer {
border-right: 1px solid #5EAD06;
}
}
#sealed {
border-top: 1px solid lighten(#5EA1ED, 10%);
border-bottom: 1px solid darken(#5EA1ED, 10%);
background: #5EA1ED;
h3 {
color: #5EA1ED;
}
.hex-spacer {
border-right: 1px solid #5EA1ED;
}
}
#secede {
border-top: 1px solid lighten(#5ECEDE, 10%);
border-bottom: 1px solid darken(#5ECEDE, 10%);
background: #5ECEDE;
h3 {
color: #5ECEDE;
}
.hex-spacer {
border-right: 1px solid #5ECEDE;
}
}
#seeded {
border-top: 1px solid lighten(#5EEDED, 10%);
border-bottom: 1px solid darken(#5EEDED, 10%);
background: #5EEDED;
h3 {
color: #5EEDED;
}
.hex-spacer {
border-right: 1px solid #5EEDED;
}
}
#seeled {
border-top: 1px solid lighten(#5EE1ED, 10%);
border-bottom: 1px solid darken(#5EE1ED, 10%);
background: #5EE1ED;
h3 {
color: #5EE1ED;
}
.hex-spacer {
border-right: 1px solid #5EE1ED;
}
}
#sledge {
border-top: 1px solid lighten(#51ED6E, 10%);
border-bottom: 1px solid darken(#51ED6E, 10%);
background: #51ED6E;
h3 {
color: #51ED6E;
}
.hex-spacer {
border-right: 1px solid #51ED6E;
}
}
#sobbed {
border-top: 1px solid lighten(#50BBED, 10%);
border-bottom: 1px solid darken(#50BBED, 10%);
background: #50BBED;
h3 {
color: #50BBED;
}
.hex-spacer {
border-right: 1px solid #50BBED;
}
}
#solace {
border-top: 1px solid lighten(#501ACE, 10%);
border-bottom: 1px solid darken(#501ACE, 10%);
background: #501ACE;
h3 {
color: #501ACE;
}
.hex-spacer {
border-right: 1px solid #501ACE;
}
}
#solgel {
border-top: 1px solid lighten(#5016E1, 10%);
border-bottom: 1px solid darken(#5016E1, 10%);
background: #5016E1;
h3 {
color: #5016E1;
}
.hex-spacer {
border-right: 1px solid #5016E1;
}
}
