@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min--moz-device-pixel-ratio: 1.5), 
only screen and (min-device-pixel-ratio: 1.5) { 

	$color-hinting-fix: "yo";

	html {
		font-size: 100%;
		background-size: 200px 200px;
	}

	.fancyLabel {
		background-image: url('/img/fancyBanner@2x.png');
		background-size: 213px 75px;
	}

	.sexy-link.header {
		background: url("/img/fancyAbout@2x.png");
		background-size: 217px 111px;

		&:hover {
			background: url("/img/fancyAbout-hovering@2x.png");
		}

		&:active {
			background: url("/img/fancyAbout-active@2x.png");
		}
	}

	.paperclip-back {
		background: url('/img/fancyAbout-clipBG@2x.png');
		background-size: 20px 24px;
	}
}