@import "wolf";

@import "ellipsis";
@import "addins/global";
@import "compass/css3";

@import "addins/fonts";

@import "addins/color-classes";

.hex-wrapper {
	background: #fff;
	margin-top: 64px;
	margin-bottom: 66px;
	height: 110px; 
}

.hex-spacer {
	display: block;
	width: 50%;
	background: #fff;
	float: left;

	h3 {
		@include font(19rem, 12rem, $font-ValenciaBlack);

		height: 110px;
		text-align: right;
		margin-right: 34px;
	}
}

h1 {
	@include font(15.25rem, 11rem, $font-WisdomScript);

	padding-top: 57px;
	background: #fff;
	position: relative;
	color: $c-text-d;
}

h2 {
	@include font(7rem, 3rem, $font-ValenciaLight);
	@include text-shadow(1px 1px 0 #fff);

	display: block;
	padding-top: 17px;
	padding-bottom: 50px;
	position: relative;
	color: $c-text-d;
}

.z-index-fix {
	display: block;
	position: relative;
	z-index: 10;
}

header#logo-wrap {
	text-align: center;
	position: relative;
}

.fancy-banner {
	@include background-image(linear-gradient(rgba(#000, .6), rgba(#000, 0) 18%, rgba(#000, 0) 91%, rgba(#000, .3)));

	display: none;
	overflow: hidden;
	height: 44px;
	background-color: #5016E1;
}

dl {
	@include font(1.2rem, 2.2rem, $font-garamound);

	float: left;

	dd {
		margin-left: 40px;
		max-width: 240px;

		h4 {
			@include line-height(1rem);
			margin-bottom: 12px;
			color: lighten(#000, 80%);
		}

		p {
			@include font-size(1.4rem);
		}
	}

	dt {
		@extend dd;
		@include font-size(1.4rem);

		margin-top: 8px;
		font-weight: bold;
		text-transform:capitalize;
	}
}

.about-content {
	@include 	box-shadow(0 0 10px rgba(#000, .5));

	background: darken(#fff, 5%);
	position: absolute;
	top: 33px;
	right: 20px;
	width: 260px;
	padding-top: 100px;
	height: 0;
	overflow: hidden;
	text-align: left;
	z-index: 2;

	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);

	p {
		@include font(1.2rem, 2.2rem, $font-garamound-sc);
		@include text-shadow(1px 1px 0 rgba(#fff, .5));

		color: darken(#fff, 50%);
		margin : auto 30px 8px 30px;

		&.descript {
			@include font(1.6rem, 2.2rem, $font-garamound);
		}

		a {
			color: #C51F00;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.paperclip-back {
	display: block;
	background: url('/img/fancyAbout-clipBG.png');
	height: 30px;
	width: 20px;
	position: absolute;
	z-index: 1;
	right: 147px;
	top: -14px;
}

.sexy-link {
	left: auto;
	right: auto;
	display: block;

	&.header {
		background: url("/img/fancyAbout.png");
		width: 217px;
		height: 111px;
		position: absolute;
		right: 20px;
		top: -14px;
//		top: 20px;
		z-index: 5;

		&:hover {
			background: url("/img/fancyAbout-hovering.png");
		}

		&:active {
			background: url("/img/fancyAbout-active.png");
		}
	}

	footer & {
		position: absolute;
		bottom: 34px;
		left: 50%;
		width: 200px;
		text-align: center;
		margin-left: -100px;
		line-height: 44px;
		padding-bottom: 10px;
		z-index: 5;
	}
}

footer {
	position: relative;
}


.top-banner-wrap {
	@include box-shadow(0 -2px 2px rgba(#000, .15));

	position: relative;
	z-index: 4;
}

.fancyLabel {
	@include font(1.78rem, 1rem, $font-WisdomScript);
	@include text-shadow(1px 1px 0 rgba(#000, .15));

	position: 		absolute;
	background: 	url('/img/fancyBanner.png') bottom center;
	padding-top:	51px;
	height: 		20px;
	width: 			211px;
	bottom: 		44px;
	color: 			#fff;
}

.quick-link {
	float: left;
	display: block;
	text-indent: -9999px;
	position: relative;

	&::before {
		@include background-image(linear-gradient(rgba(#000, .6), rgba(#000, 0)));
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 8px;
	}

	&::after {
		@include background-image(linear-gradient(rgba(#000, 0), rgba(#000, .3)));
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 4px;
	}

	&.hovering {
		@include box-shadow(0 0 2px rgba(#000, .5),
							0 0 3px rgba(#000, .5),
							0 0 5px rgba(#000, .5),
							0 0 8px rgba(#000, .5)
							);

		z-index: 1;

		&::before,
		&::after {
			display: none;
		}
	}
}

.definition-header {
	display: inline-block;
	float: left;
}

.img-replace {
	text-indent: -9999px;
}

@import "mediaQueries/mediaQueries";

